html {
    font-size: 10px;
}
body {
    background-color: #2f3a31;
}
.container {
    position: relative;
    max-width: 1050px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.row {
    display: flex;
}
#area {
    height: 20vh;
    padding: 10px;
    background-color: #424242;
    color: bisque;
    font-family: "Montserrat", "Helvetica", sans-serif;
    font-size: 3rem;
    letter-spacing: 1px;
    resize: vertical;
    outline: none;
    border: none;
    border-radius: 5px;
}
.keyboard {
    margin-top: 20px;
    background-color: #424242;
    border-radius: 10px;
    user-select: none;
}
.key {
    margin: 5px;
    padding: 20px;
    min-width: 20px;
    height: 20px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #212121;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.6rem;
    cursor: pointer;
    text-align: center;
}
.key--wide {
    width: 100%;
}
.key--shift {
    width: 140px;
}
.key--press {
    -webkit-box-shadow: inset 0px 0px 10px 2px rgb(158, 158, 158);
    -moz-box-shadow: inset 0px 0px 10px 2px rgb(158, 158, 158);
    box-shadow: inset 0px 0px 10px 2px rgb(158, 158, 158);
}
.key:hover {
    background-color: black;
}
p {
    color: #fff;
}